@import './config';

.box {
  margin-top: 1.4rem;

  &__text {
    align-items: flex-end;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding: 1.4rem;
  }

  &__image {
    position: relative;
  }

  &__hover-color {
    background-color: rgba(227, 205, 177, 0);
    bottom: 0;
    cursor: pointer;
    height: 97.7%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 200ms ease-out;
    width: 100%;
  }

  &:hover &__hover-color {
    background: url('./img/Play-Icon.svg') no-repeat center;
    background-color: rgba(227, 205, 177, 0.7);
  }

  img {
    background-color: #f6f6f6;
    height: 100%;
    max-height: 290px;
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: $max-width-md) {
  .visible-md-sm {
    display: none;
  }
}

@media (max-width: $max-width-md) {
  .visible-lg {
    display: none;
  }
}
