@import './config.scss';

.box{
  margin-top: 1.4rem;

  &__text{
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -10px;
    padding: 1.4rem;
  }

  &__image {
    position: relative;
  }

  &__hover-color {
    transition: background-color 200ms ease-out;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97.7%;
    width: 100%;
    background-color: rgba(227, 205, 177, 0);
  }

  &:hover &__hover-color {
    background: url(./img/Play-Icon.svg) no-repeat center;
    background-color: rgba(227, 205, 177, 0.7);
  }

  img {
    height: 100%;
    width: 100%;
    max-height: 290px;
    object-fit: cover;
  }
}

@media (min-width: $max-width-md) {
  .visible-md-sm {
    display: none;
  }
}

@media (max-width: $max-width-md) {
  .visible-lg {
    display: none;
  }
}
