@import './config.scss';

.all-recipes {
  margin-top: 3.125rem;
  background: linear-gradient(0deg, #FAFAFA 90%, #FFFFFF 50%);
}

.checkbox{
  display: flex;
  align-items: baseline;
  height: 100%;
  align-items: flex-end;

  input{
    width:22px;
    height:22px;
    margin-right: 1rem;
    background:transparent;
  }

  &__align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }

  @media (max-width: $max-width-sm) {
    &__align {
      justify-content: center;
    }
  }
}

.box{
  margin-top: 1.4rem;

  &__text{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -10px;
    padding: 1.4rem;
  }

  img {
    height: 100%;
    width: 100%;
    max-height: 290px;
    object-fit: cover;
  }
}

@media (min-width: $max-width-md) {
  .visible-md-sm {
    display: none;
  }
}

