$columns: 12;
$max-width-sm: 560px;
$max-width-md: 999px;
$brown: #e3cdb1;
$grey: #9b9b9b;
$light-grey: #d0d0d0;
$white: #fff;
$black: #000;
$background-gray: #fafafa;
$background-brown: #f7f1eb;

@mixin part-background ($percent, $color, $top: true) {
  position: relative;

  &::after {
    background-color: $color;
    content: '';
    height: 100% - $percent;
    position: absolute;
    width: 100%;
    z-index: -1;

    @if $top {
      top: $percent;
    }

    @else {
      bottom: $percent;
    }
  }
}

@mixin media-part-background ($percent, $percent-md, $percent-sm, $color, $top: true) {
  @include part-background($percent, $color, $top);

  @media (max-width: $max-width-md) {
    @include part-background($percent-md, $color, $top);
  }

  @media (max-width: $max-width-sm) {
    @include part-background($percent-sm, $color, $top);
  }
}
