@import './config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media(max-width: $max-width-md) {
    font-size: 14px;
  }
  @media(max-width: $max-width-sm) {
    font-size: 13px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 5rem;
  color: $black;
  @media(max-width: $max-width-md) {
    font-size: 3rem;
  }
  @media(max-width: ($max-width-sm+90)) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.3125rem;

  span {
    color: $light-grey;
  }

  @media(max-width: $max-width-sm) {
    font-size: 1.55rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.8125rem;
  @media(max-width: $max-width-md) {
    font-size: 1.4rem;
  }
}

p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

button {
  width: 15.625rem;
  height: 3.125rem;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: 1px solid #E3CDB1;
  @extend .brown-text__bold;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  outline: none;

<<<<<<< HEAD
  &:hover {
    color: #ffffff;
    background-color: #E3CDB1;
=======
  &:hover, &:focus {
    color: $white;
    background-color: $brown;
>>>>>>> 261e41ed9d43205ff16e23da651b125bbfb91a8d
  }

  &:active {
    @extend button;
    transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
    background-color: transparent;
  }
}

.gray-text {
  font-weight: 300;
<<<<<<< HEAD
  font-size: 14px;
  line-height: 21px;
  color: #9b9b9b;
}

.brown-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E3CDB1;
=======
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: $grey;
}

.brown-text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $brown;
>>>>>>> 261e41ed9d43205ff16e23da651b125bbfb91a8d

  &__bold {
    @extend .brown-text;
    font-weight: 500;
  }
<<<<<<< HEAD
}
=======
}

.seemore-row {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;

  &__button-row {
    display: flex;
    align-items: center;
  }

  &__line {
    width: 35.7%;
  }

  &__button {
    width: 28.6%;
    display: flex;
    justify-content: center;
  }

  @media (max-width: $max-width-sm) {
    margin-left: auto;
    margin-right: auto;
    &__line {
      display: none;
    }
    &__button {
      width: 100%;
    }
  }
}

@media (max-width: $max-width-sm) {
  .sm-center {
    margin: auto;
    text-align: center;
  }
}
>>>>>>> 261e41ed9d43205ff16e23da651b125bbfb91a8d
