@import './config';

header {
  background-color: $white;
  height: 70px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;

  h1 {
    display: none;
  }

  nav {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1290px;
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 14rem;
  }

  a {
    color: $grey;
    font-size: 15px;
    line-height: 22px;
  }

  .hidden {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    display: none;
    padding: 1.3rem 0;
    position: relative;
  }

  %nav-icon {
    background-color: $black;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color 200ms ease-out;
    width: 30px;
  }

  .nav-icon {
    @extend %nav-icon;
  }

  .nav-icon::before {
    @extend %nav-icon;

    content: '';
    height: 100%;
    position: absolute;
    top: 10px;
    transition: all 200ms ease-out;
    width: 100%;
  }

  .nav-icon::after {
    @extend %nav-icon;

    content: '';
    height: 100%;
    position: absolute;
    top: -10px;
    transition: all 200ms ease-out;
    width: 100%;
  }

  @media (max-width: 1290px) {
    nav {
      padding: 0 1rem;
    }
  }

  @media (max-width: $max-width-sm) {
    .menu-icon {
      display: block;
    }

    .hidden {
      display: block;
    }

    .logo {
      padding-bottom: 1.5rem;
    }

    ul {
      align-items: center;
      background-color: $background-gray;
      display: flex;
      flex-direction: column;
      height: 80vh;
      justify-content: space-around;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 69px;
      transition: max-height 300ms ease-in-out;
      width: 100%;
    }

    a {
      color: $black;
      font-family: 'Playfair Display', serif;
      font-size: 4.6rem;
      font-weight: bold;
      line-height: 7rem;
    }
  }
}

.menu-btn:checked {
  ~ ul {
    max-height: 100vh;
  }

  ~ .menu-icon .nav-icon {
    background: transparent;
  }

  ~ .menu-icon .nav-icon::before {
    background-color: $black;
    top: 0;
    transform: rotate(-45deg);
  }

  ~ .menu-icon .nav-icon::after {
    background-color: $black;
    top: 0;
    transform: rotate(45deg);
  }
}
