@import './config';

.hero {
  background-color: $background-gray;
  background-image: url('./img/cake-background.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 90vh;
  min-height: 30rem;

  .grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__buttons {
    margin-top: 1.875rem;
  }

  p {
    color: #5e5b69;
  }

  .rec-info {
    margin-top: 1rem;
  }

  .rec-tags {
    display: flex;

    @media (max-width: $max-width-md) {
      flex-direction: column;
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  .rec-tags div {
    align-content: center;
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
  }

  .rec-tags img {
    margin-right: 1rem;
  }

  .rec-tags-bottom {
    display: none;
  }

  @media (max-width: 750px) {
    background-position: center;
    background-size: cover;

    .grid {
      justify-content: flex-start;
      padding-top: 5rem;
    }

    .col-sm-10 {
      width: 86.333333333333%;
    }

    .col-sm-12 {
      text-align: center;
      width: 100%;
    }

    .offset-col-sm-1 {
      margin-left: 8.333333333333%;
    }

    .hp-text,
    span {
      display: none;
    }

    p {
      text-align: center;
    }

    .rec-tags-bottom {
      display: block;
    }
  }
}

.video-rec-hero {
  background-color: transparent;
  background-image: none;
  height: 35rem;
  position: relative;

  p {
    color: $grey;
  }

  h1,
  .rec-tags p {
    color: $white;
  }

  &::after {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, $black 1000px);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-image: url('./img/video-rec-play-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1000px;
    z-index: 2;
  }

  .hero-video {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

@media (max-width: 1150px) {
  .video-rec-hero::after {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, $black 70%);
  }

  .video-rec-hero::before {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .video-rec-hero {
    height: fit-content;
    padding-bottom: 1rem;
  }

  .video-rec-hero::after {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .video-rec-hero::before {
    display: none;
  }

  .video-rec-hero .hero-video {
    margin: 2rem auto;
    position: relative;
    width: 80%;
    z-index: 0;

    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &::before {
      background-image: url('./img/video-rec-play-icon.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
      content: '';
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
