@import './config';

.hero {
  height: 90vh;
  background-color: $background-gray;

  background-image: url(./img/cake-background.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  .grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__buttons {
    margin-top: 1.875rem;
  }

  @media (max-width: 750px) {
    background-size: cover;
    background-position: center;

    .col-sm-12 {
      width: 100%;
      text-align: center;
    }

    .grid {
      padding-top: 5rem;
      justify-content: flex-start;
    }

    p {
      display: none;
    }
  }
}

.latest-recipes {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;

  &__title {
    margin-bottom: 1.875rem;
  }

  @include media-part-background(40%, 30%, 15%, $background-gray);
}

.book {
  @include part-background(15%, $background-brown, false);

  display: flex;
  align-items: center;

  padding-top: 5rem;
  padding-top: 4rem;

  &__content {
    margin-top: 5%;
  }

  button {
    margin-top: 1.875rem;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
    overflow: hidden;
  }

  img {
    object-fit: scale-down;
    max-width: 100%;
    margin-bottom: 8px;
    box-shadow: -5px 5px 24px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 700px) {
    span {
      display: none;
    }
  }
}

.bottom-recipes {
  padding-top: 3rem;
  padding-bottom: 5rem;

  @include media-part-background(40%, 45%, 25%, $background-gray);
}
