@import './config';

.hero {
  height: 90vh;
  background-color: #FAFAFA;

  background-image: url(./img/cake-background.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  .grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__buttons {
    margin-top: 1.875rem;
  }
}

.latest-recipes {
  background: linear-gradient(0deg, #FAFAFA 65%, #FFFFFF 50%);
  display: flex;
  align-items: center;

  .grid {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  &__title {
    margin-bottom: 1.875rem;
  }
}

.book {
  //height: 880px;
  background: linear-gradient(180deg, #F7F1EB 75%, #FFFFFF 50%);

  display: flex;
  align-items: center;

  padding: 5rem 0;

  &__content {
    margin-top: 5%;
  }

  button {
    margin-top: 30px;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
  }

  img {//þarf að laga hér!!!
    background-color: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
  }
}

.bottom-recipes {
  height: 740px;
  background: linear-gradient(180deg, #FFFFFF 50%, #FAFAFA 50%);
}
