@import './config';

.hero {
  height: 90vh;
  background-color: $background-gray;

  background-image: url(./img/cake-background.png);
  background-repeat: no-repeat;
  background-position: bottom right;

  .grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__buttons {
    margin-top: 1.875rem;
  }

  p {
    color: #5E5B69;
  }

  .rec-info {
    margin-top: 1rem;
  }

  .rec-tags {
    display: flex;

    @media (max-width: $max-width-md) {
      flex-direction: column;
    }

    @media (max-width: 750px) {
      display: none;
    }

    div {
      display: flex;
      align-content: center;
      margin-right: 40px;
      margin-top: 20px;
    }

    img {
      margin-right: 1rem;
    }
  }

  .rec-tags-bottom {
    display: none;
  }

  @media (max-width: 750px) {
    background-size: cover;
    background-position: center;

    .grid {
      padding-top: 5rem;
      justify-content: flex-start;
    }

    .col-sm-10 {
      width: 86.333333333333%;
    }

    .col-sm-12 {
      width: 100%;
      text-align: center;
    }

    .offset-col-sm-1 {
      margin-left: 8.333333333333%;
    }

    .hp-text, span {
      display: none;
    }

    p {
      text-align: center;
    }

    .rec-tags-bottom {
      display: block;
    }
  }
}

.video-rec-hero {
  height: 35rem;
  background-color: transparent;
  background-image: none;
  position: relative;

  p {
    color: $grey;
  }

  h1, .rec-tags p {
    color: $white;
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 1000px);
  }

  &::before {
    content: '';
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 1000px;
    top: 0;
    right: 0;
    z-index: 2;
    background-image: url(./img/video-rec-play-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-video {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
  }
}

@media (max-width: 1150px) {
  .video-rec-hero::after {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 70%);
  }

  .video-rec-hero::before {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .video-rec-hero {
    height: fit-content;
    padding-bottom: 1rem;
  }

  .video-rec-hero::after {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .video-rec-hero::before {
    display: none;
  }

  .video-rec-hero .hero-video {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::before {
      content: '';
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url(./img/video-rec-play-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30%;
      z-index: 2;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.latest-recipes {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;

  &__title {
    margin-bottom: 1.875rem;
  }

  @include media-part-background(40%, 30%, 15%, $background-gray);
}

.book {
  @include part-background(15%, $background-brown, false);

  display: flex;
  align-items: center;

  padding-top: 5rem;
  padding-top: 4rem;

  &__content {
    margin-top: 5%;
  }

  button {
    margin-top: 1.875rem;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
    overflow: hidden;
  }

  img {
    object-fit: scale-down;
    max-width: 100%;
    margin-bottom: 8px;
    box-shadow: -5px 5px 24px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 700px) {
    span {
      display: none;
    }
  }
}

.bottom-recipes {
  padding-top: 3rem;
  padding-bottom: 5rem;

  @include media-part-background(40%, 45%, 25%, $background-gray);
}
