.ppie {
  margin-top: 20px;
  width: 550px;
  height: 128px;
}

.m-t-ing {
  margin-top: 40px;
}

.m-t-met {
  margin-top: 35px;
}

.m-t-header{
  margin-top: 90px;
}

.ingtext {
  margin-left: 65px;
}

.inline {
  display: inline-block;
}

