@import './config';

.recipe {
  margin-bottom: 8rem;
  margin-top: 3rem;

  .m-t-header {
    color: $light-grey;
    margin-top: 3rem;
  }

  @media (max-width: $max-width-md) {
    h2 {
      font-size: 1.8rem;
    }
  }

  .m-t-ing {
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
  }

  .ingredient {
    align-items: center;
    display: flex;
    margin-bottom: 1.25rem;
  }

  .ingtext {
    color: $grey;
    margin-left: 1.15rem;
  }

  .rec-num {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    height: 1.9rem;
    line-height: 1.125rem;
    vertical-align: middle;
    width: 1.1rem;
  }

  .m-t-met {
    color: #5e5b69;
    margin-top: 2.2rem;
  }

  .m-t-met p {
    margin-bottom: 1rem;
  }
}
