.ppie {
  margin-top: 20px;
  width: 550px;
  height: 128px;
}

.m-t-ing {
  margin-top: 40px;
}

.m-t-met {
  margin-top: 35px;
}

.m-t-ingred {
  margin-top: 20px;
}

.m-t-header{
  margin-top: 90px;
}

.ingfront {
  margin-left: 10px;
}

.ingtext {
  margin-left: 40px;
}

.inline {
  display: inline-block;
}

.txt-color {
  color: #5E5B69;
}

.number-ing {
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
}
