@import './config';

.book {
  @include part-background(15%, $background-brown, false);

  align-items: center;
  display: flex;
  padding-top: 4rem;

  &__content {
    margin-top: 5%;
  }

  button {
    margin-top: 1.875rem;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
    overflow: hidden;
  }

  img {
    box-shadow: -5px 5px 24px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    max-width: 100%;
    object-fit: scale-down;
  }

  @media (max-width: 700px) {
    span {
      display: none;
    }
  }
}

.latest-recipes {
  @include media-part-background(40%, 30%, 15%, $background-gray);

  align-items: center;
  display: flex;
  padding-bottom: 5rem;
  padding-top: 8rem;

  &__title {
    margin-bottom: 1.875rem;
  }
}

.bottom-recipes {
  @include media-part-background(40%, 45%, 25%, $background-gray);

  padding-bottom: 5rem;
  padding-top: 3rem;
}

.all-recipes {
  @include media-part-background(10%, 6%, 4%, $background-gray);

  margin-top: 3.125rem;
}

.checkbox {
  align-items: flex-end;
  display: flex;
  height: 100%;

  input {
    background: transparent;
    height: 22px;
    margin-right: 1rem;
    width: 22px;
  }

  label {
    font-family: 'Playfair Display', serif;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.8125rem;

    @media (max-width: $max-width-md) {
      font-size: 1.2rem;
    }
  }

  &__align {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    width: 100%;
  }

  @media (max-width: $max-width-sm) {
    &__align {
      justify-content: center;
    }
  }
}
