@import './config';

.book {
  @include part-background(15%, $background-brown, false);

  display: flex;
  align-items: center;

  padding-top: 5rem;
  padding-top: 4rem;

  &__content {
    margin-top: 5%;
  }

  button {
    margin-top: 1.875rem;
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
    overflow: hidden;
  }

  img {
    object-fit: scale-down;
    max-width: 100%;
    margin-bottom: 8px;
    box-shadow: -5px 5px 24px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 700px) {
    span {
      display: none;
    }
  }
}

.latest-recipes {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;

  &__title {
    margin-bottom: 1.875rem;
  }

  @include media-part-background(40%, 30%, 15%, $background-gray);
}

.bottom-recipes {
  padding-top: 3rem;
  padding-bottom: 5rem;

  @include media-part-background(40%, 45%, 25%, $background-gray);
}


.all-recipes {
  margin-top: 3.125rem;
  @include media-part-background(10%, 6%, 4%, $background-gray);
}

.checkbox{
  display: flex;
  align-items: baseline;
  height: 100%;
  align-items: flex-end;

  input{
    width:22px;
    height:22px;
    margin-right: 1rem;
    background:transparent;
  }

  &__align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }

  @media (max-width: $max-width-sm) {
    &__align {
      justify-content: center;
    }
  }
}
